.home-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    font-size: 1.2rem;
    font-family: "Barlow Condensed", sans-serif;
    background: #FFF0F3;
    
 }

 .home-intro-first {
   z-index: 1;
 }

 .drawing-image {
   rotate: 90deg;
   width: 100px;
 }

 .drawing-image-bottom {
    rotate: 270deg;
    width: 100px;
}

 .home-image{
    width: 100%;
    background: #FFF0F3;
}

.quote {
    margin-top: 70px;
    display: flex;
    justify-content: center; 
    z-index: 1;
}


@media screen and (min-width: 200px) and (max-width: 279px) {
   .home-intro-first{
      margin-top: -20px;
   } 
   .drawing-image {
      width: 80px;
      height: 170px;
   }

   .drawing-home {
      margin-top: -120px;
     }

     .drawing-image-bottom {
      height: 120px;
      margin-top: -100px;
    margin-bottom: -60px;          
   }

   .drawing-home-bottom {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
   }
}

@media screen and (min-width: 280px) and (max-width: 281px) {
   .drawing-image {
      height: 170px;
      margin-bottom: -30px;
      margin-top: -80px;
   }

   .quote{
      margin: 5px;
      margin-top: 70px;
   }

   .drawing-image-bottom {
      height: 170px;
      margin-bottom: -60px;
      margin-top: -20px;
   }
}


@media screen and (min-width: 282px) and (max-width: 358px) {
   .home-intro-first{
      margin-top: -20px;
   } 
   .drawing-image {
      width: 80px;
      height: 170px;
   }

   .drawing-home {
      margin-top: -120px;
     }

     .drawing-image-bottom {
      height: 120px;
      margin-top: -100px;
    margin-bottom: -60px;          
   }

   .drawing-home-bottom {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
   }
}

@media screen and (min-width: 359px) and (max-width: 374px) {

   .drawing-image {
      width: 50px ;
      margin-top: -100px;
      margin-bottom: -80px;
   }

   .drawing-image-bottom{
      width: 50px ;
   }

   .drawing-home-bottom{
      margin-top: -50px;
      margin-bottom: -80px;
   }
   .quote{
      margin: 70px 10px 20px 10px;
   }
}

@media screen and (min-width: 375px) and (max-width: 666px) {
   .home-intro-first{
      margin-top: 40px;
   }
   
   .drawing-image {
        width: 40px;
        height: 340px;
        margin-top: -40px;
     }

     .drawing-home {
      margin-top: -110px;
      margin-bottom: -140px;
     }
     
     .drawing-image-bottom {
        height: 220px;
        margin-top: -10px;
        margin-bottom: -60px;          
     }

     .drawing-home-bottom {
        margin-top: -10px;
        margin-bottom: -10px;
     }

     .quote {
      margin: -120px 10px 0px 10px;
         }
}

@media screen and (min-width: 667px) and (max-width: 767px) {
   .home-intro {
      margin-top: -100px;
   }

   .drawing-image{
      width: 20px;
   }
   .home-intro-first{
      margin-top: 260px;
   }
   .drawing-image {
      width: 60px;
    margin-top: -20px;
    margin-bottom: 60px;
   }

   .drawing-home {
    margin-bottom: -460px;
   }

   .drawing-image-bottom {
      width: 60px;
      margin-top: 240px;
      margin-bottom: -180px;
   }

   .drawing-home-bottom {
      margin-bottom: 60px;
   }

   .quote {
      margin-bottom: -320px;
       }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home-intro-first {
   margin-top: 140px;

  }
  
   .drawing-image{
      width: 80px;
   }

   .drawing-home {
      margin-bottom: -280px;
      margin-top: -160px;
   }

   .drawing-image-bottom {
      width: 80px;
   }

   .drawing-home-bottom{
      margin-top: -120px;
      margin-bottom: -160px;
   }
}

@media screen and (min-width: 1024px) and (max-width: 2200px) {
   .drawing-image{
      width: 100px;
   }

   .drawing-image-bottom {
      width: 100px;
   }

   .drawing-home {
      margin-top: -180px;
      margin-bottom: -140px;
   }
   
   .drawing-home-bottom {
      margin-top: -140px;
      margin-bottom: -160px;
   }

}